.order {
  padding: 40px;
  margin: 20px 60px;
  border: 1px solid lightgray;
  background-color: white;
  position: relative;
}

.order__id {
    position: absolute;
    top: 40px;
    right:40px;
}

.order__total {
    font-weight: 700;
    text-align: right;
}
